<% @card_title = "#{@group_cont.model_name.human(count: 1)} -  #{@group_cont.name} "  %>
<div class="container">
  <div class="row ">
    <%= render "group_conts/conts", group_cont: @group_cont %>
  </div>
</div>
<hr>
<%= render 'conts/cont' %>
